/*colors

red #cc0000
dark red #980000
yellow #f1f105
dark gray #454545
light gray #ededed*/

/*border: 2px dotted #ededed;*/

/*NOTES*/

/*download sprite sheet from site*/

/*(header)border-top - 1 px solid #f24b33*/

/*background image for header
padding-left
background: url
background repeat
background-size contain
background position left center*/

/*-webkit-appearance: none*/
/*outline: none;*/

/*ul - display block, margin & padding 0

li - display inline block*/


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1;  ie 6/7 
}

header{
	background: #ffffff;
}


body{
	font-family: 'Helvetica', 'Arial', 'san-serif';

}

body li a:hover{
	color: #cc0000;
}

ul{
	list-style: none;
	padding-left: 0;
}

li{
	text-align: left;
	list-style: none;
	font-size: 0.9em;
}

ul a{
	color: #000000;
}

a{
	text-decoration: none;
}

p{
	font-size: 0.9em;
}

.hover{
	display: none;
}

.header_logo_dt{
	display: none;
}		

.header_logo_m{
	display: block;
	width: 15%;
	margin: 2% auto;

}

.primary_navigation{
	background: #cc0000;


}

.primary_navigation_list a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.primary_navigation_list{
	
	width: 100%;
	padding-left: 15%;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-bottom: 0;

}

.primary_navigation_list > li{
	display: inline-block;	
	width: 49%;
}

.primary_navigation_list a{
	color: #ffffff;
	font-size: 1em;
	font-weight: 700;
}

.shop_all_categories{
	display: none;
}	

.main_navigation{
	display: none;
}

.categories{
	width: 100%;
}


.categories img{
	width: 100%;
	margin-top: 10%;
	padding: 0;
	
}

.categories h2{
	width: 100%;
	font-size: 1em;
	text-align: center;
	margin: 0;

}

.categories h2 a{
	color: #000000;
}

.categories h2 a:hover{
	color: #cc0000;

}

.mini_header{
	background: #cc0000;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}

.primary_searchbar{
	width: 100%;
}

.primary_searchbar form{
	display: block;
	width: 85%;
	float: left;
	padding-top: 0;
	padding-bottom: 0;

}

.primary_searchbar select{
	width: 33%;
}

.search_field{
	margin: 2%;
	width: 45%;
	margin-bottom: 0;

}

.primary_searchbar img{
	width: 100%;

}

.primary_searchbar button{
	width: 8%;
	padding: 0;
	margin-top: 0;
	margin-left: 3%;

}

.primary_searchbar button img{
	width: 100%;
	margin-top: 2%;
}

.shopping_cart{
	width: 12%;
	background: none;
	margin-top: 0;
	padding-bottom: 0;
	float: left;
}

.shopping_cart a{
	display: block;

}

.shopping_cart img{
	width: 75%;
	margin-left: 0;
	margin-top: 0.5%;
	margin: 0 auto;
}

.shopping_cart h4{

	display: none;

}

.free_shipping p{
	color: #000000;
	font-weight: 700;
	text-align: center;
	margin: 3%;
	
}

.free_shipping span{
	color: #cc0000;
}

.free_shipping a{
	color: #000000;
	font-size: 0.8em;
}

.free_shipping a:hover{
	color: #cc0000;
}

.page_title h4{
	display: none;

}

.page_title h1{
	font-size: 1.5em;
	text-align: center;
}

.category_item{
	width: 49%;
	display: inline-block;
	border-bottom: 2px dotted #ededed;
	text-align: center;
	padding-bottom: 3em;
	margin-bottom: 3em;
}

.category_item a{
	display: block;
}

.category_item a img{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

.category_item > a{
	width: 80%;
	margin: 0 auto;
}

.toprated{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}


.toprated h2{
	font-size: 1.1em;
	clear: both;
	background: #cc0000;
	padding: 4%;
	text-align: left;
	color: #ffffff;
	margin: 0 auto;

}

.toprated_item{
	display: inline-block;
	width: 48.5%;
	margin: 0 auto;
	padding: 0;
	
}

.toprated_item > a > img{
	display: block;
	width: 100%;
}


.toprated li{
	font-size: 0.8em;
	font-weight: 700;
	text-align: center;
	margin-left: 10%;

}

.featured_items{
	width: 80%;
	margin: 0 auto;
}

.featured_items h2{
	font-size: 1.1em;
	clear: both;
	background: #cc0000;
	padding: 4%;
	text-align: left;
	color: #ffffff;
	margin-top: 1em;

}

.featured_bikes_text{
	width: 43%;
	float: left;
	margin-left: 5%;
	border-right: 2px dotted #ededed;
}

.featured_bikes_text li{
	font-size: 0.8em;
	font-weight: 700;
}

.featured_bikes_img{
	width: 50%;
	float: left;
}

.featured_bikes_img img{
	width: 100%;

}

.weekly_deals{
	width: 80%;
	margin: 0 auto;
	clear: both;

}

.weekly_deals h2{
	
	background: #cc0000;
	color: #ffffff;
	font-size: 1.1em;
	text-align: left;
	padding: 4%;

}

.team_text{
	width: 47%;
	float: left;
	min-height: 220px;	
	border-right: 2px dotted #ededed;
	
}

.team_text h3{
	margin: 3%;
		

}

.team_img{
	width: 50%;
	float: left;
	min-height: 220px;

}

.team_img img{
	width: 100%;
}

.team_img li a{
	font-size: 0.8em;
	font-weight: 700;
	margin-left: 4%;

}

.featured_pool{
	width: 100%;
	margin-bottom: 6%;
	border-bottom: 2px dotted #ededed;

}

.featured_pool img{
	width: 100%;
	margin: 0;
}

.featured_pool h1{
	margin: 0 2% 2% 2%;
	font-size: 1.5em;
}

.featured_pool p a{
	display: block;
	margin: 2%;
	font-size: 1.3em;
	font-weight: 700;
	text-align: left;
	color: #000000;
}

.featured_pool p a:hover{
	color: #cc0000;
}

.restrictions p{
	font-weight: 500;
	margin-left: 2em;
	font-size: 0.7em;

}

.restrictions span{
	font-weight: 700;
	color: #000000;
}

.restrictions span:hover{
	color: #cc0000;
}

.about p{
	font-size: 0.7em;
	margin-left: 2em;
	margin-right: 2em;
	padding-bottom: 1%;
	border-bottom: 2px dotted #ededed;

}

.secondary_nav{
	width: 95%;
	margin: 0 auto;

}

.secondary_nav ul{
	width: 99%;
	border-bottom: 2px dotted #ededed;
	padding: 0;
	margin: 0;

}

.secondary_nav li{
	display: inline-block;
	font-size: 0.7em;
	font-weight: 700;
	padding: 1%;
	
}

.secondary_nav a{
	text-align: center;

}

.tertiary_nav img{
	display: none;
	width: 15%;
}

footer{
	background: #cc0000;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;

}

.tertiary_nav{
	display: block;
	width: 100%;


}

.tertiary_nav ul{
	font-size: 0.7em;
	font-weight: 700;
	text-align: left;
	
}

.tertiary_nav li{
	display: inline-block;
	font-size: 0.7em;
	font-weight: 700;
	margin: 0 auto;
}

.tertiary_nav a{
	color: #ffffff;
}


.tertiary_nav a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.tertiary_nav p{
	font-size: 0.6em;
	font-weight: 500;
	color: #ffffff;

}

.bottom_nav ul{
	display: inline-block;
	font-size: 0.7em;
	font-weight: 500;
	text-align: left;
	margin: 0;

}

.bottom_nav li{
	display: inline-block;
	font-size: 0.7em;
	font-weight: 700;
	color: #ffffff;

}

.bottom_nav a{
	color: #ffffff;
}

.bottom_nav a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.bottom_nav1{
	margin: 1% 0 1% 1%;
}

.bottom_nav2{
	margin-top: 0;
	margin-bottom: 1%;
}

@media screen and (min-width: 420px){

	.primary_searchbar button{
		width: 8%;
		margin-top: 0;
	}

	.categories{
		width: 80%;
		margin: 0 auto;
	}

	.category_item{	
		width: 32%;
	}


}

@media screen and (min-width: 680px){


.primary_searchbar form{
	display: block;
	width: 90%;
	float: center;
	background: none;
	padding-top: 0;
	padding-bottom: 0;

}

.primary_searchbar select{
	display: block;
	float: left;
	width: 30%;
	margin: 2%;
	padding: 0.5%;
	-webkit-appearance: none;
	outline: none;
	font-size: 0.8em;
	text-align: center;
		
}

.search_field{
	width: 54%;
	margin: 2%;

}

.primary_searchbar img{
	width: 6%;
	border-radius: 3px;

}

.primary_searchbar button{
	width: 4%;
	padding: 0;
	margin-top: 0;
	margin-left: 0;

}

.primary_searchbar button img{
	width: 100%;
	margin: 0 auto;
}

.shopping_cart{
	width: 7%;
	background: none;
	padding-bottom: 0;
	float: left;
}

.shopping_cart a{
	display: block;
}

.shopping_cart img{
	width: 100%;
	margin: 0;
}

.shopping_cart h4{

	display: none;

}

.mini_header{
	margin: 0 auto;
	background: #cc0000;
}



.primary_navigation_list a{

	font-size: 1.3em;

}	

.category_item{
	width: 30%;
	padding-right: 1%;
	padding-left: 1%;
}

.category_item h2{
	font-size: 1.3em;
}

.toprated_item{
	padding-bottom: 1em;
}

.toprated_item a img{
	width: 55%;
	margin: 0 auto;

}

.tr_list{
	display: block;
	margin: 0 auto;	

}

.featured_bikes_img img{
	width: 60%;
}

.team_text{
	min-height: 80px;
	border-right: none;
	margin-left: 3%;
}

.team_text h3{
	min-height: none;

}

.featured_pool{
	border: none;

}

.featured_pool img{
	width: 44%;
	margin-left: 0;

}

.team_img{
	clear: both;
	margin-left: 3%;

}

.team_img img{
	width: 50%;
}

.restrictions{
	clear: both;
	border-top: 2px dotted #ededed; 
}

} /*end tablet media query*/

@media screen and (min-width: 960px){

footer{
	clear: both;
	background: #ffffff;
}

.wrapper{
	display: block;
	width: 80%;
	margin: 0 auto;
}

.site_header{
	background: #b50000;
	padding-top: 1%;
	padding-bottom: 3%;
	position: relative;
	margin: 0;
}	

.header_logo_m{
	display: none;
}

.header_logo_dt{
	display: block;
	width: 4%;
	float: left;
	margin-left: 7%;
	margin-top: 0;
	padding: 0;
}

.site_header h1{
	margin: 0;

}

.primary_navigation{
	width: 80%;
	float: left;
	background: none;
	padding-top: 1%;

}

.primary_navigation_list{
	width: 100%;
	padding-left: 2%;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;

	
}

.primary_navigation_list > li{
	display: inline-block;
	width: 12%;
	padding-right: 0;
	margin-bottom: 0;
	font-size: 0.8em;
	float: left;
	text-align: center;

}

.primary_navigation_list a{
	display: block;
	font-size: 1em;
}

.categories h2{
	font-size: 1em;
}

.primary_navigation_list a:hover{
	color: #ffffff;
	text-decoration: underline;
	font-weight: 900;
}

.mini_header{
	background: #cc0000;
	width: 90%;
	margin: 0 auto;
	position: absolute;
	top: 70%;
	left: 5%;
	border-radius: 3px;
	border-top: 1px solid #f24b33;
	padding: 0;
}

.shop_all_categories, .primary_searchbar, .shopping_cart{
	width: 30%;
	float: left;

}

.shop_all_categories h3{
	margin-top: 3%;
}

.shop_all_categories h3 a{
	color: #ffffff;

}

.primary_searchbar{
	width: 78%;
	float: left;

}

.primary_searchbar form{
	width: 70%;
	background: none;
	padding: 0;

}

.primary_searchbar select{
	width: 10.5%;
	float: left;
	margin-top: 1%;
	margin-right: 0;
	margin-left: 0;
}

.search_field{
	width: 82%;
	float: left;
	margin: 1% 0 0 0;
}

.shopping_cart{
	background: none;
	width: 25%;
	padding-bottom: 0;
	float: left;
	margin-top: 0;
	margin-left: 2%;
	border-left: 1px solid #f24b33;
}

.shopping_cart img{
	display: inline-block;
	width: 19%;
	margin-top: 2%;
	margin-right: 3%;
	float: right;
}

.shopping_cart h4{
	display: inline-block;
	color: #ffffff;
	font-size: 0.9em;
	width: 68%;
	float: right;
	margin-top: 6%;
	margin-bottom: 0;
	margin-right: 0;

}

.primary_searchbar button{
	width: 28px;
	height: 24px;
	margin-top: 1%;
	margin-left: 0;
}

.primary_searchbar button img{
	margin: 0 auto;
}

.shop_all_categories{
	display: inline-block;
	width: 20%;
	color: #ffffff;
	float: left;
	margin-right: 1%;
	border-right: 1px solid #f24b33;
}

.shop_all_categories img{
	width: 15%;
	margin: 1%;
	float: left;
	margin-top: 2%;
	margin-left: 6%;
}

.shop_all_categories > h3{
	width: 76%;
	margin-top: 5%;
	margin-left: 2%;
	font-size: 0.9em;
	float: left;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

.free_shipping{
	clear: both;
	margin-top: 6%

}

.free_shipping a:hover{
	color: #cc0000;

}

.page_title h4, .page_title h1{
	display: block;
	text-align: left;
	color: #000000;
}

.main_navigation{
	display: block;
	width: 20%;
	float: left;
	border-right: 2px dotted #ededed;
	margin-left: 1%;
}

.main_navigation ul{
	border-bottom: 2px dotted #ededed;
	padding-bottom: 8%;

}

.main_navigation li{
	font-size: 0.8em;
	font-weight: 700;

}

.main_navigation a{
	font-size: 0.8em;
	font-weight: 700;
}

.main_navigation a:hover{
	color: #000000;
	text-decoration: underline;

}

.categories{
	width: 78%;
	display: inline-block;

}

.categories h2{
	
	background: #cc0000;
	margin-top: 1%;
	padding-top: 0;
	display: inline-block;
	vertical-align: top;

}


.categories h2 a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.category_item{
	width: 22%;
}

.category_item h2 a{
	min-height: 60px;
	color: #ffffff;
	padding-top: 3%;
}

.category_item h2 a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.toprated{
	float: right;
}


.top_rated, .featured_items, .weekly_deals{
	width: 79%;
	float: right;
	margin-bottom: 0;
}

.top_rated h2, .featured_items h2, .weekly_deals h2{
	background: #ededed; 
	color: #cc0000;
	padding: 2%;
	font-size: 1.1em;
}

.restrictions p{
	clear: both;
}

.gaiam, .ripclaw, .samsung, .callaway{
	width: 25%;
	border-top: none;
	min-height: none;
	margin-bottom: 0;
	margin-left: 0;

}

.gaiam img, .ripclaw img, .samsung img, .callaway img{
	width: 100%;
	float: right;
	min-height: 150px;
}

.featured_bikes_text{
	width: 42%;
}

.featured_bikes_text, .featured_bikes_text li{
	text-align: right;
	padding-right: 2%;
}

.featured_bikes_text h4{
	color: #cc0000;
}

.featured_bikes_img img{
	width: 90%;
}

.team_text{
	min-height: 80px;
	width: 100%;
	text-align: center;
	border-right: none;
}

.team_img{
	clear: both;
	width: 46%;

}

.team_img img{
	width: 100%;
}

.featured_pool{
	width: 46%;
	float: left;
	border-left: 2px dotted #ededed;
	border-bottom: none;
	padding-left: 2%;
}

.featured_pool img{
	width: 100%;
}

.restrictions, .about{
	width: 79%;
	float: right;
}

.restrictions{
	border-bottom: 2px dotted #ededed; 
}

.about p{
	border-bottom: none;
}

.secondary_nav{
	display: block;
	margin: 0 auto;
	width: 72%;
	float: right;
	background: #ffffff;
	color: #000000;
}

.secondary_nav ul{
	display: block;
	width: 18%;
	text-align: left;
	float: left;
	border-bottom: none;
	line-height: 1;
	margin: 2%;
	padding: 0;
}

.secondary_nav li{
	display: block;
	font-weight: 500;
	font-size: 0.6em;
	padding: 0;
}

.secondary_nav span{
	font-weight: 700;
}

.secondary_nav a{
	padding: 0;

}

.secondary_nav a:hover{
	text-decoration: underline;
}

.site_footer{
	width: 80%;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
}


.tertiary_nav, .bottom_nav1{
	background: #ffffff;
	width: 100%;

}

.tertiary_nav nav{
	width: 100%;

}

.tertiary_nav li{
	text-align: right;

}

.tertiary_nav ul, .tertiary_nav p{
	text-align: right;
	width: 100%;
	margin-bottom: 0;
	color: #000000;
	
}

.tertiary_nav1 ul{
	margin-bottom: 0;

}


.tertiary_nav a, .bottom_nav a{
	font-weight: 700;
	color: #000000;
}

.tertiary_nav p{
	font-weight: 500;
	font-size: 0.6em;
}


.tertiary_nav a:hover{
	text-decoration: underline;
	color: #000000;
} 

.bottom_nav{
	width: 100%;
	text-align: right;
}

.bottom_nav ul{
	width: 90%;
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 1% 0;

}
.bottom_nav a:hover{
	text-decoration: underline;
	color: #000000;
}

.mystore_li{
	display: block;
	position: relative;
}

.mystore_dropdown{
	display: none;
}

.mystore_dropdown h3 a{
	color: #000000;
}

.mystore_dropdown h3 a:hover{
	color: #000000;
	text-decoration: underline;
}

.mystore_li.hover .mystore_dropdown,
.mystore_li:hover .mystore_dropdown{

	display: block;
	background: #ededed;
	border: 1px solid #000000;
	border-radius: 3px;
	position: absolute;
	top: 56%;
	width: 200%;
	padding: 10%;
	left: 16%;
	z-index: 999;
}

.redcard_li{
	display: block;
	position: relative;
}

.redcard_options{
	display: none;
}

.redcard_options a{
	color: #000000;

}

.redcard_options a:hover{
	color: #000000;
}

.redcard_li.hover .redcard_options,
.redcard_li:hover .redcard_options{
	
	display: block;
	background: #ededed;
	border: 1px solid #000000;
	border-radius: 3px;
	position: absolute;
	top: 56%;
	width: 120%;
	padding: 10%;
	left: 16%;
	z-index: 1000;
	font-size: 0.9em;	

}

.category_item{
	position: relative;
}

.category_item ul li{
	text-align: center;
}

.category_item ul a{
	color: #000000;
	font-size: 0.7em;
	text-decoration: underline;

}

.category_item ul span{
	font-size: 1.4em;
	font-weight: 700;
}

.category_item ul{
	display: none;
}

.category_item.hover > a,
.category_item:hover > a{
	opacity: 0.1;
}

.category_item.hover h2,
.category_item:hover h2{
	background: none;
	opacity: 0.1;
}

.category_item.hover ul,
.category_item:hover ul{
	display: block;
	border-radius: 3px;
	position: absolute;
	margin: 0 auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10001;
	padding: 3%;

}

.main_categories_list{
	display: block;
	position: absolute;
	width: 20%;
	background: #454545;
	color: #ffffff;
	z-index: 1002;
	margin: 0;
	border-radius: 3px;
	top: 100%;
	left: 0;
}

.main_categories_list > li{
	width: 100%;
	padding: 1em;
	font-weight: 700;
	border-top: 1px solid #ffffff;
	
}

.main_categories_list > li > a{

	color: #ffffff;
	font-size: 0.9em;
	font-weight: 700;
}

.csj_sublist{
	display: block;
	width: 400%;
	background: green;
	position: absolute;
	border-radius: 3px;
	top: 0;
	left: 100%;
	z-index: 1001;

}

.csj_sublist_col1, .csj_sublist_col2, .csj_sublist_col3, .csj_sublist_col4{
	width: 25%;
	float: left;
}

.csj_sublist_col1 > ul, .csj_sublist_col2 > ul, .csj_sublist_col3 > ul, .csj_sublist_col4 > ul{
	display: block;

}

.csj_sublist_col1 > ul > li > a{
	color: #ffffff;
}

.csj_sublist_col2 > ul > li > a{
	color: #ffffff;
}

.csj_sublist_col3 > ul > li > a{
	color: #ffffff;
}

.csj_sublist_col4 > ul > li > a{
	color: #ffffff;
}


.csj_sublist ul li{
	display: block;
	color: #ffffff;
	font-weight: 500;
	font-size: 0.9em;

}

.csj_sublist h3 a{
	font-size: 1.1em;

}



.main_categories_list .hover{
	display: block;
	width: 400%;
	background: gray;
	position: absolute;
	border-radius: 3px;
	top: 0;
	left: 100%;
	z-index: 1002;
	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3);
}

.main_categories_list .hover ul li{
	display: block;
	color: #ffffff;
	font-weight: 500;
	font-size: 0.9em;

}

.main_categories_list .hover h3 a{
	font-size: 1.1em;

}

.main_categories_list .hover .col{
	width: 25%;
	float: left;
}

.main_categories_list .hover .col > ul{
	display: block;
}

.main_categories_list .hover .col > ul > li > a{
	color: #ffffff;
}	

.hover .col h3 span{
	color: #ffffff;
	font-weight: 700;
}

.hover{
	padding: 4%;
}


} /*end desktop media query*/	




    































